.popup-card {
    &-icon_exit {
        background-image: url(exit-icon-ellipse.svg);
    }
    &-button-icon {
        position: absolute;
        top: 0;
        left: 295px;
        width: 55px;
        height: 55px;
       
        background-size: cover;
        border: 0;
        cursor: pointer;
        text-indent: -9999px;
    }
}
.button__with_280 {
    margin-top: 15px;
    width: 280px;
    &:active {
        background-color: #0F8FEE;
    }
}
